.navbar {
  background-color: $color-primary;
  color: $color-black;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 6.4rem;
  height: 7.2rem;
  position: relative;

  &__mobile {
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      &__link {
      }
    }
  }

  &__nav {
    justify-content: flex-end;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        float: left;
        & .active {
        }
        &:not(:last-child) {
          margin-right: 2.4rem;
        }

        &__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          color: $color-white;
          & .btn {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.navbar__two {
  background-color: transparent;
  color: $color-black;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 6.4rem;
  height: 7.2rem;
  position: absolute;
  &__mobile {
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      &__link {
      }
    }
  }

  &__nav {
    justify-content: flex-end;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        float: left;
        & .active {
        }
        &:not(:last-child) {
          margin-right: 2.4rem;
        }

        &__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          color: $color-black;
          & .btn {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.container {
  background-color: $color-primary-light;
  padding: 5.6rem 6.4rem;
  width: 100%;
  & .ad__column {
    width: 73%;
    display: flex;
    flex-direction: column;
  }

  & .ad__column-side {
    width: 23%;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  padding: 7.2rem 6.4rem;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  &__column {
    width: 23%;
    &__list {
      color: $color-white;
      & > * {
        margin-bottom: 1.6rem;
      }
      &__item {
        & a {
          color: $color-white;
        }
        list-style: none;
        font-size: 1.6rem;
      }
    }
  }
}
